<% @blog_posts.each do |post| %>
<div>
 <h3> Title: <%= post.title %> </h3>
 <h4> Author: <%= post.author %> </h4>
 <%= post.content %>
 <%= link_to post.title, blog_post_path(post)%>
</div>

 <%end%>
 </br>
<%= link_to("New Post",new_blog_post_path) %>
